<footer class="p-0 bg-gradient-blue-ironstone-brown">
    <div class="pt-40px pb-40px border-bottom border-color-transparent-white-light">
    <div class="container">
    <div class="row">
    <div class="col-12 text-center">
    <h6 class="text-white mb-0 alt-font">Everyone can discover their hidden beauty. <a href="demo-beauty-salon-contact.html" class="text-white text-decoration-line-bottom-medium d-inline-block">Book an appointment</a><i class="bi bi-arrow-right align-middle icon-extra-medium ms-10px"></i></h6>
    </div>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="row justify-content-center pt-55px pb-55px sm-pt-40px sm-pb-40px">
    
    <div class="col-lg-3 col-md-12 col-sm-6 last-paragraph-no-margin text-center text-sm-start text-md-center text-lg-start md-mb-30px">
    <a href="demo-beauty-salon.html" class="footer-logo d-inline-block"><img src="../assets/images/demo-beauty-salon-logo-white.png" data-at2x="../assets/images/demo-beauty-salon-logo-white@2x.png" alt></a>
    </div>
    
    
    <div class="col-lg-3 col-md-4 col-sm-6 sm-mb-30px last-paragraph-no-margin text-center text-sm-start">
    <span class="d-block text-base-color fs-15 ls-1px mb-5px text-uppercase fw-600">Get in touch</span>
    <p class="lh-30 w-80 text-white lg-w-100">401 Broadway, 24th Floor New York, NY 10013</p>
    </div>
    
    
    <div class="col-lg-3 col-md-4 col-sm-6 xs-mb-30px last-paragraph-no-margin text-center text-sm-start">
    <span class="d-block text-base-color fs-15 ls-1px mb-5px text-uppercase fw-600">Need support?</span>
    <a href="tel:1800222000" class="text-white lh-30">1-800-222-000</a><br>
    <a href="cdn-cgi/l/email-protection.html#650c0b030a251c0a1017010a08040c0b4b060a08" class="text-white"><span class="__cf_email__" data-cfemail="462f282029063f29333422292b272f286825292b">[email&#160;protected]</span></a>
    </div>
    
    
    <div class="col-lg-3 col-md-4 col-sm-6 last-paragraph-no-margin text-center text-sm-start">
    <span class="d-block text-base-color fs-15 ls-1px mb-10px text-uppercase fw-600">Connect with us</span>
    <div class="elements-social social-icon-style-09">
    <ul class="medium-icon light">
    <li><a class="facebook" href="../external.html?link=https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
    <li><a class="instagram" href="../external.html?link=https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a></li>
    <li><a class="twitter" href="../external.html?link=https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>
    </ul>
    </div>
    </div>
    
    </div>
    </div>
    <div class="pt-20px pb-20px border-top border-color-transparent-white-light">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-xxl-8 col-lg-7 text-center text-lg-start md-mb-10px">
    <ul class="footer-navbar fs-16">
    <li class="nav-item"><a href="demo-beauty-salon.html" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="demo-beauty-salon-story.html" class="nav-link">Story</a></li>
    <li class="nav-item"><a href="demo-beauty-salon-services.html" class="nav-link">Services</a></li>
    <li class="nav-item"><a href="demo-beauty-salon-wedding.html" class="nav-link">Wedding</a></li>
    <li class="nav-item"><a href="demo-beauty-salon-review.html" class="nav-link">Review</a></li>
    <li class="nav-item"><a href="demo-beauty-salon-contact.html" class="nav-link">Contact</a></li>
    </ul>
    </div>
    <div class="col-xxl-4 col-lg-5 fs-16 last-paragraph-no-margin text-white text-center text-lg-start">
    <p>&copy; 2024 Crafto is Proudly Powered by <a href="#" target="_blank" class="text-decoration-line-bottom text-white">ThemeZaa</a></p>
    </div>
    </div>
    </div>
    </div>
    </footer>
    
    
    <div class="scroll-progress d-none d-xxl-block">
    <a href="#" class="scroll-top" aria-label="scroll">
    <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
    </a>
    </div>
    
    
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/vendors.min.js"></script>
    <!-- <script async defer src="../external.html?link=https://maps.googleapis.com/maps/api/js?key=AIzaSyCA56KqSJ11nQUw_tXgXyNMiPmQeM7EaSA&amp;callback=initMap"></script> -->
    <script type="text/javascript" src="../assets/js/main.js"></script>